<div id="main">
	<h1>Welcome to Gridz</h1>

	<p>
		Below you will find links to several different layouts, all using Gridz. The way this
		is set up is each layout is show 3 different ways. The first is a fluid design where
		it will fill the entire width of the screen. The other two use the exact same markup
		except that they have been given a width of either 920px or 840px (chosen randomly).
		This will hopefully give you an idea of how flexible this system really is.
	</p>
	
	<p>
		Psst...I have also tested these layouts in Firefox 2+, Safari 3+, Opera 9+,
		and IE 7. Guess what? They all (pretty much) work the same!
	</p>

	<ol>
		<li><%= link_to "3 Columns, Fluid", :action => :layout_1 %></li>
		<li><%= link_to "3 Columns, 920px width", :action => :layout_2 %></li>
		<li><%= link_to "3 Columns, 840px width", :action => :layout_3 %></li>
	</ol>
	
	<ol>
		<li><%= link_to "3 Columns Version 2, Fluid", :action => :layout_4 %></li>
		<li><%= link_to "3 Columns Version 2, 920px width", :action => :layout_5 %></li>
		<li><%= link_to "3 Columns Version 2, 840px width", :action => :layout_6 %></li>
	</ol>
	
	<ol>
		<li><%= link_to "3 Columns Version 2 (Reversed), Fluid", :action => :layout_7 %></li>
		<li><%= link_to "3 Columns Version 2 (Reversed), 920px width", :action => :layout_8 %></li>
		<li><%= link_to "3 Columns Version 2 (Reversed), 840px width", :action => :layout_9 %></li>
	</ol>
	
	<ol>
		<li><%= link_to "Custom Layout 1, Fluid", :action => :layout_10 %></li>
		<li><%= link_to "Custom Layout 1, 920px width", :action => :layout_11 %></li>
		<li><%= link_to "Custom Layout 1, 840px width", :action => :layout_12 %></li>
	</ol>
	
	<ol>
		<li><%= link_to "Custom Layout 2, Fluid", :action => :layout_13 %></li>
		<li><%= link_to "Custom Layout 2, 920px width", :action => :layout_14 %></li>
		<li><%= link_to "Custom Layout 2, 840px width", :action => :layout_15 %></li>
	</ol>
	
	<ol>
		<li><%= link_to "Custom Layout 3, Fluid", :action => :layout_16 %></li>
		<li><%= link_to "Custom Layout 3, 920px width", :action => :layout_17 %></li>
		<li><%= link_to "Custom Layout 3, 840px width", :action => :layout_18 %></li>
	</ol>
</div>