<div id="header">
<div class="sizer x840">
	<h1>MySite</h1>
</div>
</div>

<div id="mainNavigation" class="clearFloat">
<div class="sizer x840">
	<ul class="menu left clearFloat">
		<li><%= link_to "Blog" %></li>
		<li><%= link_to "Archives" %></li>
		<li><%= link_to "Free Stuff" %></li>
		<li><%= link_to "Interviews" %></li>
		<li><%= link_to "GroupThink" %></li>
	</ul>
	
	<ul class="menu right clearFloat">
		<li><%= link_to "Advertise" %></li>
		<li><%= link_to "About" %></li>
		<li><%= link_to "Contact" %></li>
	</ul>
</div>
</div>

<div id="content">
<div class="sizer x840">
	<p class="intro">
		<span>Lorem ipsum dolor sit amet,</span> consectetur adipisicing elit, sed do
		eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
		ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
		aliquip ex ea commodo consequat. Duis aute irure dolor in
		reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
		culpa qui officia deserunt mollit anim id est laborum.
	</p>
	
	<div class="row">
		<div class="column grid1of2">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		
		<div class="column grid1of2">
			<div class="row">
				<div class="column grid1of2">
					<div class="picture"></div>
				</div>
				
				<div class="column grid1of2">
					<div class="picture"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row topborder">
		<div class="column grid1of3">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		
		<div class="column grid1of3">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		
		<div class="column grid1of3">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
	
	<div class="row topborder">
		<div class="column grid1of2">
			<div class="row">
				<div class="column grid1of2">
					<div class="picture"></div>
				</div>
				
				<div class="column grid1of2">
					<div class="picture"></div>
				</div>
			</div>
		</div>
		
		<div class="column grid1of2">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
				ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
				pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>
</div>

<div id="footer">
<div class="sizer x840">
	
</div>
</div>